/*		all tag 	*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft Yahei"
}
html,body {
	height: 100%;
	background: #ccc;
}
html {
    font-size: 15.625vw;
}
@media screen and (min-width: 640px) {
    html {
        font-size: 100px;
    }
}
a {
    color: #555;
    text-decoration: none;
    background: 0 0;
    -webkit-tap-highlight-color: transparent;
}

/*  顶部返回块  */
.head {
	position: relative;
	z-index: 999;
	width: 100%;
	height: 44px;
	background: #711515;
}
.return {
	float: left;
	width: 24px;
	height: 24px;
	padding: 10px 15px;
}

.return img {
	height: 100%;
	float: left;
}

/*  加载动画  */
.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 640px;
	min-width: 320px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 899;
	display: none;
	background:	red;
	opacity: 0.3;
	top: 44px;

	font-size: .5rem;
	text-align: center;
}

/*  主布局  */
.main {
	position: relative;
	z-index: 898;
	display: block;
	height: 100%;
	background: url("../images/bg.jpg") repeat-y center center;
	background-size: 100% ;	
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}

/*  内容区  */
.content {
	padding-top: .1rem;
	background-color: rgba(0, 0, 0, 0); 
	width: 100%;
}

.extraInfo {
	margin-top: .8rem;
	margin-bottom: .1rem;
	background: #fff;
	height: .55rem;
}
.address {
	padding: 0 3.42vw;
	background: #fff;
	height: 2rem;
	color: rgba(0, 0, 0, 0.49);
}
.address > * {
	font-size: .2rem;
	line-height: .5rem;
	height: .5rem;
}
.addTitle {
	border-bottom: 1px solid rgba(0, 0, 0, 0.49);
	font-size: .2rem;
	line-height: .5rem;
	height: .5rem;
}
.addName > i {
	font-style: normal;
	font-size: .2rem;
	line-height: .5rem;
	height: .5rem;
}
.addName > .phoneNum{
	font-size: .2rem;
	line-height: .5rem;
	height: .5rem;
	font-family: Verdana;
}
.addMore {
	font-size: .18rem;
	line-height: .5rem;
	height: .5rem;
	text-align: center;
	color: rgba(0, 0, 0, 0.22);
}
.amount {
	margin: .18rem .1rem 0;
	background: #FFF;
	font-size: .2rem;
	color: rgba(0, 0, 0, 0.49);
	height: .7rem;
	text-align: center;
	line-height: .7rem;
}
.amountMoney {
	font-size: .2rem;
	color: rgba(0, 0, 0, 0.49);
	font-family: Verdana;
}
.payBtn {
	margin: 0 .1rem;
	background: #17BB17;
	font-size: .35rem;
	font-family: "Microsoft Yahei";
	font-weight: bolder;
	color: white;
	height: .7rem;
	text-align: center;
	line-height: .7rem;
}


.ui-list-item {
	margin: .1rem 0;
	list-style-type: none;
	height: auto;
	background: #fff;
}

.ui-list-item-inner {
	padding: .22rem .2rem;
}

.ui-list-item>a:before {
	content: "";
	display: table;
}

.ui-list-item>a:after {
	clear: both;
}

.ui-list-item-thumb {
	position: relative;
	float: left;
	width: 1.1rem;
	height: 1.1rem;
	margin-right: .22rem;
	border: 1px solid rgba(0, 0, 0, 0.42);
	padding: 5px;
}

.ui-list-item-thumb > img {
	width: 100%;
}

.ui-list-item-info {
	color: #98989f;
	overflow: hidden;
	position: relative;
	height: 1.25rem;
}
.ui-list-item-info > .meta {
	display: block;
	height: .8rem;
}

.ui-list-item-info .title {
	position: relative;
	padding-right: 25%;
	padding-bottom: .3rem;
	font-weight: 400;
	font-size: .18rem;
}
.ui-list-item-info p {
	color: #999;
	padding-right: 25%;
	position: relative;
	font-size: .15rem;
	line-height: .15rem;
}
.stock {
	height: .45rem;
}

.clearfix {
	zoom: 1;
	clear: both;
}

.ui-button {
	float: left;
	border-color: #e7e7e7;
	height: .35rem;
	width: .35rem;
	margin-top: .11rem;
	z-index: 2;
}
.ui-button > img {
	float: left;
	width: 100%;
}
.addBtn {
	margin-right: -.15rem;
	z-index: 2;
	/*background: url('../images/add.png') no-repeat center center;
	background-size: 100% 100%;*/
}
.moveBtn {
	margin-left: -.15rem;
	z-index: 2;
}
.stock span{
	float: left;
	z-index: 1;
	padding: 0 5vw;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	text-align: center;
	font-size: .15rem;
	margin-top: .12rem;
	height: .3rem;
	line-height: .3rem;
}
.amount-num {
	display: none;
}

.close {
	position: absolute;
	bottom: 1px;
	right: 2px;
	width: .3rem;
	height: .3rem;
	padding: 3px 3px;
}
.close > img {
	width: 100%;
	float: left;
}
.ui-list-item .price {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	text-align: right;
}

.ui-list-item .price span {
	display: block;
	font-size: .18rem;
	margin-bottom: .05rem;
	color: rgba(255, 0, 0, 0.62);
	text-align: right;
}
.ui-list-item .price del {
	color: #98989f;
	font-size: .15rem;
	float: right;
}

#modalDiv
{
    display:none;
    position:absolute;
    top: 0;
    width:100%;
    background-color: #000;
    z-index:1000;
}

#modal-delete-box
{
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2000;
	position: fixed;
	width: 4.5rem;
	height: 1.8rem;
	background-color: white;
	border-radius: 0.1rem;
	animation:boxmovein 0.3s infinite;
    animation-iteration-count: 1;

}

@keyframes boxmovein
{
from {height:1rem;width:2.5rem;}
to {height:1.8rem;width: 4.5rem;}
}

#modal-pay-box
{
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 2000;
	position: fixed;
	width: 4.5rem;
	height: 1.8rem;
	background-color: white;
	border-radius: 0.1rem;
	animation:boxmovein 0.3s infinite;
    animation-iteration-count: 1;

}




.warnMsg
{
	padding-top: 0.5em;
	font-size: 0.23rem;
	text-align: center;
	height: 0.7rem;
	line-height: 0.7rem;
	width: 100%;
	float: left;
}

.doButton
{
	width: 100%;
	height: 0.8rem;
	position: absolute;
	bottom: 0;
	line-height: 1rem;
	padding-top: rem;
}

.no
{
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 50%;
	border-top:1px solid #999;
	border-right: 1px solid #999;
	float: left;
	font-weight: bolder;
	color: gray;
	height: 0.8rem;
	background-color: white;
	border-bottom-left-radius: 0.1rem;
}

.ok
{
	position: relative;
	background-color: white;
	border-top:1px solid #999;
	top: 0;
	bottom: 0;
	margin: auto;
	font-weight: bolder;
	color: gray;
	width: 50%; 
	height: 0.8rem;
	float: right;
	border-bottom-right-radius: 0.1rem;
}

.item-select
{
	height: 1.3rem;
	width: 0.35rem;
	z-index: 999;
	position: relative;
	float: left;
	padding-right: 0.1rem;
}

.item-box
{
	float: left;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 0.06rem 0.06rem #e8e9e9;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 0.32rem;
	height: 0.32rem;

}

#modal-no-check-box
{
	display: none;
	left: 0;
	right: 0;
	bottom: 1.4rem;
	margin: auto;
	z-index: 2000;
	position: fixed;
	width: 2rem;
	height: 0.6rem;
	background-color: gray;
	border-radius: 0.1rem;
}



.no-check
{
	color: white;
	font-size: 0.01rem;	
	text-align: center;
	width: 2rem;
	height: 0.6rem;
	line-height: 0.6rem;
}